<div class="jumbotron jumbotron-fluid jumbo-footer" id="block-1-6">
    <div class="container header-content">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <a class="navbar-brand" href="http://www.perceptr.io"><%= image_tag "perceptrsm.png", class: "cta_image" %>
          <h1 class="text-center">Build what's next</h1>
          <h5 class="text-center">Neuroscience UX <br> research platform</h5>
          <p class="text-center"><a class="btn btn-primary btn-md text-center feature-cta" href="#" role="button">Sign Up</a></p>
        </div>
      </div>
    </div>
  </div>