
<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron jumbotron-fluid jumbo-pricing">
   <div class="container">
      <div class="row justify-content-center header-content">
        <div class="col-md-8">
          <h1 class="text-center">Simple pricing for a complex world</h1>
          <h5 class="text-center">Our blended subscription offer<br> gives you peace of mind.</h5>
          <p class="text-center"><a class="btn btn-primary btn-md text-center feature-cta" href="#" role="button">Sign Up</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center" id="block-1-1">
      <div class="col-md-8">
        <h1 class="text-center">PERCEPTR.IO</h1>
      </div>
    </div>
  </div>


  
  <div class="container">

    <div class="row justify-content-center pricing-row">

        <div class="col-md-3  pricing-col">
          <h2 class="text-center">PRO</h2>
          <p class="text-center">Get started with neuroscience based UX research.</p>
          <ul class="fa-ul">
            <li>Perceptr Platform</li>
            <li>Up to 3 Projects</li>
            <li>3 Users</li>
            <li>Limited data</li>
          </ul>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center">$1400 USD</h4>
          <p class="text-center">per month</p>
          <p class="text-center"><a class="btn btn-primary btn-md text-center" href="#" role="button">Sign Up</a></p>

        </div>
        <div class="col-md-3 pricing-col">
          <h2 class="text-center">ENTERPRISE</h2>
          <p class="text-center">Level up with our enterprise UX research platform.</p>
          <ul class="fa-ul">
            <li>Perceptr Platform</li>
            <li>30 Projects</li>
            <li>Unlimited Users</li>
            <li>High data limits</li>
            <li>Iteration testing</li>
            <li>Advanced analytics</li>
          </ul>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <span class="align-bottom">
            <h4 class="text-center">$2400 USD</h4>
            <p class="text-center">per month</p>
            <p class="text-center"><a class="btn btn-primary btn-md text-center" href="#" role="button">Sign Up</a></p>
          </div>
        <div class="col-md-3 pricing-col justify-content-center">
          <h2 class="text-center">CUSTOM</h2>
          <p class="text-center">Plans for every size organisation.</p>
          <br>
          <br>
          <h4 class="text-center" style="line-height: 1.6;">Need more? <br>No problem - talk to us about your needs.</h4>
          <br>
          <br>
          <br>
          <br>

          <h4 class="text-center">TALK TO US</h2>
          <p class="text-center">Monthly/Yearly</p>
          <p class="text-center"><a class="btn btn-primary btn-md text-center" href="#" role="button">Sign Up</a></p>

        </div>
    </div>
  </div>
  

    </div>
  </div>

  <%= render 'pages/signup-cta' %>

